.clockContainer {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: center;
}

.controlButtonsContainer,
.clockTextElementContainer {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}